<!DOCTYPE html>
<html>
<body>
<div id="payments">
<center>
</br>
</br>
</br>
<h1 style="color: #000">Invitanos una taza de café</h1>
<h1 style="color: #2BB3E5">Invite me a coffee</h1>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="RNV7UWU8K8D8U">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
</form>
</br>
</br>
<h1 style="color: #000">Apollanos a mantener el servicio</h1>
<h1 style="color: #2BB3E5">Help us to keep the service</h1>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="XBWYHE36KF6DL">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
</form>
</br>
</br>
</br>
</br>
</center>
</div>
</body>
<div>
<%= render :partial => "layouts/footer"%>
</div>
</html>