

<% if Rails.env == "production"%>
<center>
<div class = "comments">
<div class="fb-comments" data-href="https://friendprayer.org/prayers/<%= current_pray.id %>" data-num-posts="10" data-width="570"></div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1&appId=236652113026256";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</div>
</center>
<%end%>

<% if Rails.env == "development"%>
<center>
<div class = "comments">
<div class="fb-comments" data-href="http://localhost:3000/prayers/<%= current_pray.id %>" data-num-posts="10" data-width="570"></div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1&appId=220846244674086";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</div>
</center>

<%end%>
