<% if Rails.env == "production"%>
<div class="fb-like-box" data-href="http://www.facebook.com/pages/friend-prayer/200872926630775" data-width="400" data-show-faces="true" data-stream="false" data-header="true"></div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1&appId=236652113026256";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<%else%>
<div class="fb-like-box" data-href="http://www.facebook.com/pages/friend-prayer/200872926630775" data-width="400" data-show-faces="true" data-stream="true" data-header="true"></div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1&appId=336243296469875";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<%end%>
