<div class="modal hide" id="myModal">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal">×</button>
	   <b> Instrucciones</b>
	  </div>
	  <div class="modal-body">
	 <p>1) Da click en el botón ingresar con facebook.</p>
	 <p>  2) Ingresando en la sesión puedes colocar oraciones que aparecerán en tu perfil y en el worldwide. </p>
	<p> 3) Las personas en la comunidad verán la oración y pedirán por ti.
		</p>
	  </div>
	  <div class="modal-footer">
	   	<div btn class=" btn btn-warning"> 
		   <%= link_to "Ingresa con Facebook", "/auth/facebook" %>
	   </div>
	  </div>
	</div>
</div>
<div class="modal hide" id="modalite">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal">×</button>
	   <b> Políticas de uso del sitio </b>
	  </div>
	  <div class="modal-body">
	 <p>1) El sitio trae su información de facebook para crear su cuenta.</p>
	 <p> 2)  Al ingresar en este sitio usted se hace responsable del contenido que publique en él. </p>
	<p>3) Cualquier clase de contenido  que consideremos no apto será borrado.</p>
	<p>4) Cualquier amenaza a uno de los miembros de la comunidad traerá la expulsión de la misma.</p>
			<p> 5) Esta es una comunidad libre para gente que profesa creencias similares, por lo que se le pide si no es parte de ellas abstengase de ingresar.</p>
	<b><center><p> ¡ Gracias !</p></center></b>
	  </div>
	  <div class="modal-footer">
		<i>  Friend prayer todos los derechos reservados 2012</i>
	  </div>
	</div>