<div id="name">
<div class="navbar">
<div class="navbar-inner">
<div class="container">
  <ul class="nav nav-tabs">
    <li class="active" style="color:#fff"><a href="#tab1" data-toggle="tab">Home</a></li>
    <li ><a href="#tab2" data-toggle="tab">Objetivo</a></li>
    <li ><a href="#tab3" data-toggle="tab">Creadores</a></li>
    <li ><a href="#tab4" data-toggle="tab">Pray Topics</a></li>
 </div> 
</div>  
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
	<div class="alert alert-success">
      <p>
      	Friend Prayer es una web que aspira a ser una cadena de oración mundial.
      </p>
              <center> 
              <div btn class=" btn btn-medium btn-warning"> 
			    <%= link_to "Ingresa con Facebook", "/auth/facebook" %>

			   </div>
			 </center>
      <center>
        <iframe width="420" height="315" src="http://www.youtube.com/embed/ylvGR6VrJaI" frameborder="0" allowfullscreen></iframe>
      </center>
    </div>
    </div>
   	<div class="tab-pane" id="tab2">
	<div class="alert alert-success">
      <p>Nuestro objetivo es crear la cadena de oración mas grande del mundo pidiendo por situaciones que a todos nos aquejan como sociedades, poner una oración en este sitio no solo crea esperanza sino que demuestra interés por solucionar problemas que a todos nos aquejan.</p>
	</br> 
	<p>    
	<b>¡¡También puedes pedir individualmente y alguien  en un lugar muy lejano seguramente orara por tí!!</b>
	 </p>
	</div>
	</div>
    <div class="tab-pane" id="tab3">
	<div class="alert alert-success">
      <p>Fue creada por:</p>
     </br> 
	  <center>
		<ul class="nav nav-list">
	    <b> <li>
		<center>
		<div class="badge">
					<center>
		    <a href="http://www.alfredoreyes.me">José Alfredo Reyes de Antuñano</a>
	
		     <a href="http://www.leonrangel.me">José León Rangel Reyes</a>
		            </center>
		</div>
		
		</b>
		    </li> 
		</ul>
	  </center>	   
	 </br> 
     </br>
    </div>
    </div>
    <div class="tab-pane" id="tab4">
      <div class="alert alert-success">
	 <p><b>Oración por México</b> </p>   
	 <p><b>Paz por México</b> </p>
	 <p><b>Petición por la paz mundial</b></p>    
	  </div>
    </div>
  </div>
</div>
</div>
</div>
