<!DOCTYPE html>
<html>
<body>
<center>
<div id="bodyp">
 <div class="modal hide" id="modale">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal">×</button>
	    Friend prayer
	  </div>
	  <div class="modal-body">
	  <iframe width="520" height="415" src="http://www.youtube.com/embed/ylvGR6VrJaI" frameborder="0" allowfullscreen></iframe>
	  </div>
	  <div class="modal-footer">
	   	<p>Friendprayer.org todos lo derechos reservados</p>
	   </div>
	  </div>
	</div>
</div>
	</center>

<div id="name">
<div class="navbar">
<div class="navbar-inner">
<div class="container">
  <ul class="nav nav-tabs">
    <li class="active" style="color:#fff"><a href="#tab1" data-toggle="tab">Home</a></li>
    <li ><a href="#tab2" data-toggle="tab">Objetivo</a></li>
    <li ><a href="#tab3" data-toggle="tab">Creadores</a></li>
    <li ><a href="#tab4" data-toggle="tab">Blog</a></li>
 </div> 
</div>  
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
	<div id="bodyp">
		</br>
      <p>
    <center>Friend Prayer es una web que aspira a ser una cadena de oración mundial.</center>
      </p>
      </br>
      </br>
        <center> 
              <div class=" btn btn-medium btn-warning" href="/auth/facebook"> 
			   <h1> <%= link_to "Ingresa con Facebook", "/auth/facebook" %> </h1>

			   </div>
		</center>
		 </br>
	     </br>
      <center>	
	  	<div class="btn btn-primary" data-toggle="modal" href="#modale"><h1>reproduce el video de friend prayer</h1></div>
      </center> 
     </br>
      </br>
    </div>
    </div>
   	<div class="tab-pane" id="tab2">
	<div id="bodyp">
      <p>Nuestro objetivo es crear la cadena de oración mas grande del mundo pidiendo por situaciones que a todos nos aquejan como sociedades, poner una oración en este sitio no solo crea esperanza sino que demuestra interés por solucionar problemas que a todos nos aquejan.</p>
	</br> 
	<p>    
	<b>¡¡También puedes pedir individualmente y alguien  en un lugar muy lejano seguramente orara por tí!!</b>
	 </p>
	</div>
	</div>
    <div class="tab-pane" id="tab3">
	<div id="bodyp">
	<p>Esta es una web desarrollada en css, javascript y Ruby on Rails, que de preferencia debe ser vista en navegadores como google chrome o mozila firefox</p></br>
      <p>Fue creada por:</p>
     </br> 
	  <center>
		<ul class="nav nav-list">
	    <b> <li>
		<center>
		<div class="badge">
					<center>
		    <a href="http://www.alfredoreyes.me">José Alfredo Reyes de Antuñano</a>
	
		     <a href="http://www.leonrangel.me">José León Rangel Reyes</a>
		            </center>
		</div>
		
		</b>
		    </li> 
		</ul>
	  </center>	   
	 </br> 
     </br>
    </div>
    </div>
    <div class="tab-pane" id="tab4">
      <div id="bodyp">
	    <iframe src="http://friendprayer.tumblr.com/" frameborder="0" width="100%" height="2000"></iframe>   
	  </div>
    </div>
  </div>
</div>
</div>
</div>
<body>
	<div>
	<%= render :partial => "layouts/footer"%>
	</div>
</html>	