<div class="container">
<div class="span13">
    <div class="navbar">
    <div class="navbar-inner">
    <div class="container">
         <h1>Friend Prayer</h1>
    </div>
    </div>
    </div>

        <div class="span5">
          <h2> ¿Quienes Somos?</h2>
           <p>Somos jovenes que intentamos cambiar al mundo mediante el acto mas antiguo de fe "la oración".</p>
        <div>
        <div class="span9">
            <div class="span5" style="margin-top:20px;margin-bottom:20px; margin-right:20px;margin-left:-35px;">
              <%= render :partial => 'shared/like_photo'%>
            </div>
        <div class="span3" style="background-color:#1D8FD0">
            <center>
            <h1><%= link_to "Ingresa con Facebook", "/auth/facebook"%></h1>
            </center>
        </div>
        </div>
</div>
</div>
