

    <p id="notice"><%= notice %></p>

    <p>
        <div class="comments" style="margin-left:35px;">
            <%= @prayer.pray %></br></br>
            <%= render :partial => "shared/like_share"%>  
        </div>
      <%= render :partial => "shared/comments"%>
    </p>


    
    